.header {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.h-div-container {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    background-color: #2c3e50; /* Color de fondo del encabezado */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra suave */
    border-bottom: 3px solid black;
}

.ul-container {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.ul-container li {
    font-size: 30px;
    font-weight: 800;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    
}


/* Estilos para los enlaces */
.li-header a {
    color: #ccc; /* Color del texto para los botones (gris claro) */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s; /* Transición suave del color del texto */
    position: relative; /* Para posicionar el pseudo-elemento ::after */
}

/* Estilos para el efecto de botón */
.li-header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ccc; /* Color del efecto de botón (gris claro) */
    transform: scaleX(0); /* Escalar el ancho a 0 para que no sea visible inicialmente */
    transform-origin: bottom right; /* Origen de la transformación */
    transition: transform 0.3s ease-out; /* Transición suave de la transformación */
}

/* Estilos para el efecto de botón al pasar el cursor */
.li-header a:hover::after,
.li-header a:focus::after { /* Añadimos la regla para el estado :focus */
    transform: scaleX(1); /* Escalar el ancho a 1 para mostrar el efecto */
    transform-origin: bottom left; /* Origen de la transformación */
}

.div-logo img {
    width: 50px;
    margin-left: 30px;
}



@media screen and (max-width: 650px) {

    .ul-container li {
        font-size: 16px;
    }

    .div-logo img {
        width: 40px;
        margin-left: 10px;
    }


}
