.header {
    width: 100%;
}

.h-div-container {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    background-color: #2c3e50;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-bottom: 3px solid black;
}

.ul-container {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.ul-container li {
    font-size: 30px;
    font-weight: 800;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    
}

.li-header a {
    color: #ccc; 
    text-decoration: none;
    font-weight: bold; 
    transition: color 0.3s; 
    position: relative; 
}

.li-header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ccc; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; 
}

.li-header a:hover::after,
.li-header a:focus::after { 
    transform: scaleX(1); 
    transform-origin: bottom left; 
}

.div-logo {
    margin-left: 30px;
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.div-logo img {
    width: 100%;
    height: auto;
}
.clickeado {
    pointer-events: none;
}

.swal2-container {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px) {

    .ul-container li {
        font-size: 25px;
    }

    .div-logo {
        max-width: 40px;
        max-height: 40px;
        margin-left: 10px;
    }

}

@media screen and (max-width: 650px) {

    .ul-container li {
        font-size: 16px;
    }

    .div-logo {
        max-width: 40px;
        max-height: 40px;
        margin-left: 10px;
    }

}


@media screen and (max-width: 450px) {

    .ul-container li {
        font-size: 14px;
    }

    .div-logo {
        width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }

}


