.div-restart {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 450px;
    height: 40%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.753);
    opacity: 100%;
    padding-top: 50px;
    animation: changeOpacity 0.5s forwards;
    -webkit-animation: changeOpacity 0.5s forwards;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@keyframes changeOpacity {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.div-restart p {
    color: white;
    font-size: 40px;
    font-weight: 700;
    user-select: none;
}


#restartButton {
    width: 50%;
    height: 25%;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    font-weight: 800;
    transition: transform  0.5s;
    -webkit-transition: transform  0.5s;
    -moz-transition: transform  0.5s;
    -ms-transition: transform  0.5s;
    -o-transition: transform  0.5s;
}

#restartButton:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}







@media screen and (max-width: 650px) {
    .div-restart {
        width: 370px;
}
}