
.div-container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.div-user,
.div-computer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.div-img-user,
.div-img-computer {
    display: flex;
    gap: 20px;
    order: 2;
    transition: all 0.5s forwards;
}
.div-img-computer{
    pointer-events: none;
}

.div-img-user img,
.div-img-computer img {
    width: 100px; /* Ancho de las imágenes */
    height: auto; /* Altura automática */
    cursor: pointer;
    transition: all 0.5s;
}

.seleccionado {
    border-bottom: 1px solid black;
}

.opacity-seleccionada {
    opacity: 1;
}

.div-img-user img:hover {
    transform: scale(1.1);
}

#app .btn-rst-score {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 30px;
}

@media screen and (max-width: 819px) {
    .div-container-3 {
        gap: 50px;
    }
    .div-user,
    .div-computer {
        height: 220px;
    }
}

@media screen and (max-width: 769px) {
    .div-container-3 {
        gap: 50px;
    }
    .div-img-user img,
    .div-img-computer img {
        width: 80px; /* Tamaño de las imágenes en dispositivos más pequeños */
    }
}



@media screen and (max-width: 576px) {
    .div-container-3 {
        gap: 20px;
    }
    .div-img-user img,
    .div-img-computer img {
        width: 60px; /* Tamaño de las imágenes en dispositivos aún más pequeños */
    }

    #app .btn-rst-score {
        top: 550px;
    }
}


