.div-winner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    gap: 40px;
    animation: changeOpacity 0.5s forwards;
    -webkit-animation: changeOpacity 0.5s forwards;
}



@keyframes changeOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
