.div-game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 400px;
    width: 30%;
    height: 68%;
    background-color: white;
    margin: 30px auto;
}

.grid-item {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.grid-item:hover {
    background-color: var(--color1);
}

.grid-item img {
    width: 80px;
}

.div-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.div-players {
    gap: 30px;
    display: flex;
    align-items: center;
}


.div-players p {
    font-size: 50px;
    font-weight: 900;
}

.div-players img {
    width: 50px;
}

.div-Selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 1; 
    transition: opacity 0.5s ease-out; 
}

.oculto {
    opacity: 0; 
    pointer-events: none; 
  }

.div-Selector div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.div-Selector img {
    width: 50px;
    cursor: pointer;
    transition: trasnform 0.5s;
    -webkit-transition: trasnform 0.5s;
    -moz-transition: trasnform 0.5s;
    -ms-transition: trasnform 0.5s;
    -o-transition: trasnform 0.5s;
}

.div-Selector img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.p-indication {
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 650px) {
    .p-indication {
        font-size: 15px;
        width: 100%;
    }
    .div-Selector img {
        width: 30px;
        cursor: pointer;
    }

    .div-Selector{
        margin-top: 120px;
    }

    .div-players img {
        width: 30px;
    }

    .div-players p {
        font-size: 30px;
        font-weight: 900;
    }

    .div-game{
        min-width: 400px;
        /* width: 95%; */
        height: 60%;
    }

    .grid-item img {
        width: 60px;
    }
}