.h1-score-computer,
.h1-score-user {
    order: 1;
}



/* Media queries */
@media screen and (max-width: 768px) {
    .img-selected-user,
    .img-selected-computer {
        width: 100px; /* Ancho de las imágenes seleccionadas en dispositivos más pequeños */
    }
    
    .countdown-container {
        width: 40px; /* Ancho del contenedor de cuenta regresiva en dispositivos más pequeños */
        height: 40px; /* Altura del contenedor de cuenta regresiva en dispositivos más pequeños */
    }
    
    .countdown {
        font-size: 60px; /* Tamaño de la cuenta regresiva en dispositivos más pequeños */
    }
}

@media screen and (max-width: 576px) {
    .h1-score-computer,
    .h1-score-user {
        font-size: 25px;
    }
    
}
