.div-game-memo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 400px;
    width: 60%;
    height: 90%;
    margin: 30px auto;
    gap: 10px;
}



@media (max-width: 450px) {
    .div-game-memo {
        min-width: 350px;
    }
}